/* .app {
  margin: 0;padding: 0;
  width: 100%;
  position: relative;
}

::-webkit-scrollbar {
  width: 0.46rem;
  background-color: #d1d4dd;
 
}
::-webkit-scrollbar-thumb {
  background-color: rgb(127, 255, 212);
  background-color: #afafaf   ;
  height: 30px;
 

}

.leftuser {
  margin-left: 17%;
  text-align: center;
  font-family: 'Poppins';
  font-size: 19px;
}
.userleft {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
 
  box-sizing: border-box;
} */